/* ---------------- RESET BÁSICO ---------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- VARIABLES GLOBALES ---------------- */
/* DARK por defecto (estilo IDE) */
:root {
  --bg-main: #1e1e2e;
  --bg-secondary: #2e2e3e;

  --text-main: #d4d4d4;
  --text-muted: #6c6c80;

  --primary: #38bdf8;
  --accent: #c792ea;
}

/* ---------------- ESTILOS BASE ---------------- */
html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
}

/* Links */
a {
  text-decoration: none;
  color: var(--primary);
}

/* ---------------- DETECCIÓN AUTOMÁTICA DEL SISTEMA ---------------- */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #1e1e2e;
    --bg-secondary: #2e2e3e;
    --text-main: #d4d4d4;
    --text-muted: #6c6c80;
    --primary: #38bdf8;
    --accent: #c792ea;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #f5f5f5;
    --bg-secondary: #e0e0e0;
    --text-main: #1e1e2e;
    --text-muted: #555555;
    --primary: #2563eb;
    --accent: #b45309;
  }
}
